<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app.title}}</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <div class="app-wrapper">
        
        <h1 class="app-header">Weather App</h1>
        
        <div class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>

        <div class="content-wrapper">
            <div class="about-content">
                <div>Project Weather App</div>
                <div>
                    I have done this project in the process of learning NodeJs. 
                    Through this project I have learned to use third party APIs 
                    using nodejs.
                </div>
                <div>
                    Technologies Used:
                    <div>
                        Front End: HTML, CSS, Javascript
                        Back End: NodeJs
                        Dependencies: Express, HBS, Postman-Request 
                    </div>
                </div>
                 <div>
                    Resource Credits
                    <div>
                        API source: weatherStack
                        Thanks to all Open Source Technologies for the community, By the community
                    </div>
                </div>
            </div>
        </div>

        <div class="footernote">
            API source: weatherStack
        </div>
    </div>
</body>
</html>